book {
  font-family: sans-serif;
  font-size: 12px;
}

p {
  margin-left: 10px;
}

li {
  font-size: 10px;
}

h1 {
  font-size: 20px;
  display: block;
  leading: 10;
}

code {
  font-family: _typewriter;
  color: #333399;
  display: inline;
}

example {
  font-family: _typewriter;
  font-size: 12px;
  color: #333333;
  margin-left: 20px;
  display: block;
}

a:link {
  color: #CC0000;
  text-decoration: underline;
}

a:hover{
  color: #666666;
  text-decoration: none;
}

a:active{
  color: #FF0000;
  text-decoration: none;
}